/* html {
  background-color: #f0f3f4;
} */

body {
  font-family: "PingFangSC-Light", sans-serif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
  font-size: .875rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  /* user-select: none; */
  /* -moz-user-select: none; */
  /* -webkit-user-select: none; */
  /* -webkit-tap-highlight-color: rgba(200, 200, 200, 0); */
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0 !important
}

a {
  text-decoration: none;
  color: #58666e;
}

.container {
  padding: .625rem .9375rem;
  margin-top: 3.125rem;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.inline {
  display: inline-block !important
}

.none {
  display: none
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.bg {
  background-color: #f0f3f4;
}

.m-xxs {
  margin: .125rem .25rem
}

.m-xs {
  margin: .3125rem
}

.m-sm {
  margin: .625rem
}

.m {
  margin: .9375rem
}

.m-md {
  margin: 1.25rem
}

.m-lg {
  margin: 1.875rem
}

.m-xl {
  margin: 3.125rem
}

.m-n {
  margin: 0 !important
}

.m-l-none {
  margin-left: 0 !important
}

.m-l-xs {
  margin-left: .3125rem
}

.m-l-sm {
  margin-left: .625rem
}

.m-l {
  margin-left: .9375rem
}

.m-l-md {
  margin-left: 1.25rem
}

.m-l-lg {
  margin-left: 1.875rem
}

.m-l-xl {
  margin-left: 2.5rem
}

.m-l-xxl {
  margin-left: 3.125rem
}

.m-l-n-xxs {
  margin-left: -0.0625rem
}

.m-l-n-xs {
  margin-left: -0.3125rem
}

.m-l-n-sm {
  margin-left: -0.625rem
}

.m-l-n {
  margin-left: -0.9375rem
}

.m-l-n-md {
  margin-left: -1.25rem
}

.m-l-n-lg {
  margin-left: -1.875rem
}

.m-l-n-xl {
  margin-left: -2.5rem
}

.m-l-n-xxl {
  margin-left: -3.125rem
}

.m-t-none {
  margin-top: 0 !important
}

.m-t-xxs {
  margin-top: .0625rem
}

.m-t-xs {
  margin-top: .3125rem
}

.m-t-sm {
  margin-top: .625rem
}

.m-t {
  margin-top: .9375rem
}

.m-t-md {
  margin-top: 1.25rem
}

.m-t-lg {
  margin-top: 1.875rem
}

.m-t-xl {
  margin-top: 2.5rem
}

.m-t-xxl {
  margin-top: 3.125rem
}

.m-t-n-xxs {
  margin-top: -0.0625rem
}

.m-t-n-xs {
  margin-top: -0.3125rem
}

.m-t-n-sm {
  margin-top: -0.625rem
}

.m-t-n {
  margin-top: -0.9375rem
}

.m-t-n-md {
  margin-top: -1.25rem
}

.m-t-n-lg {
  margin-top: -1.875rem
}

.m-t-n-xl {
  margin-top: -2.5rem
}

.m-t-n-xxl {
  margin-top: -3.125rem
}

.m-r-none {
  margin-right: 0 !important
}

.m-r-xxs {
  margin-right: .0625rem
}

.m-r-xs {
  margin-right: .3125rem
}

.m-r-sm {
  margin-right: .625rem
}

.m-r {
  margin-right: .9375rem
}

.m-r-md {
  margin-right: 1.25rem
}

.m-r-lg {
  margin-right: 1.875rem
}

.m-r-xl {
  margin-right: 2.5rem
}

.m-r-xxl {
  margin-right: 3.125rem
}

.m-r-n-xxs {
  margin-right: -0.0625rem
}

.m-r-n-xs {
  margin-right: -0.3125rem
}

.m-r-n-sm {
  margin-right: -0.625rem
}

.m-r-n {
  margin-right: -0.9375rem
}

.m-r-n-md {
  margin-right: -1.25rem
}

.m-r-n-lg {
  margin-right: -1.875rem
}

.m-r-n-xl {
  margin-right: -2.5rem
}

.m-r-n-xxl {
  margin-right: -3.125rem
}

.m-b-none {
  margin-bottom: 0 !important
}

.m-b-xxs {
  margin-bottom: .0625rem
}

.m-b-xs {
  margin-bottom: .3125rem
}

.m-b-sm {
  margin-bottom: .625rem
}

.m-b {
  margin-bottom: .9375rem
}

.m-b-md {
  margin-bottom: 1.25rem
}

.m-b-lg {
  margin-bottom: 1.875rem
}

.m-b-xl {
  margin-bottom: 2.5rem
}

.m-b-xxl {
  margin-bottom: 3.125rem
}

.m-b-n-xxs {
  margin-bottom: -0.0625rem
}

.m-b-n-xs {
  margin-bottom: -0.3125rem
}

.m-b-n-sm {
  margin-bottom: -0.625rem
}

.m-b-n {
  margin-bottom: -0.9375rem
}

.m-b-n-md {
  margin-bottom: -1.25rem
}

.m-b-n-lg {
  margin-bottom: -1.875rem
}

.m-b-n-xl {
  margin-bottom: -2.5rem
}

.m-b-n-xxl {
  margin-bottom: -3.125rem
}

.wrapper-xs {
  padding: .3125rem
}

.wrapper-sm {
  padding: .625rem
}

.wrapper {
  padding: .9375rem
}

.wrapper-md {
  padding: 1.25rem
}

.wrapper-lg {
  padding: 1.875rem
}

.wrapper-xl {
  padding: 3.125rem
}

.padder-lg {
  padding-right: 1.875rem;
  padding-left: 1.875rem
}

.padder-md {
  padding-right: 1.25rem;
  padding-left: 1.25rem
}

.padder {
  padding-right: .9375rem;
  padding-left: .9375rem
}

.padder-v {
  padding-top: .9375rem;
  padding-bottom: .9375rem
}

.no-padder {
  padding: 0 !important
}

.b {
  border: .0625rem solid rgba(0, 0, 0, 0.05)
}

.b-a {
  border: .0625rem solid #dee5e7
}

.b-t {
  border-top: .0625rem solid #dee5e7
}

.b-r {
  border-right: .0625rem solid #dee5e7
}

.b-b {
  border-bottom: .0625rem solid #dee5e7
}

.b-l {
  border-left: .0625rem solid #dee5e7
}

.w-1x {
  width: 1em
}

.w-2x {
  width: 2em
}

.w-3x {
  width: 3em
}

.w-xxs {
  width: 3.75rem
}

.w-xs {
  width: 5.625rem
}

.w-sm {
  width: 9.375rem
}

.w {
  width: 12.5rem
}

.w-md {
  width: 15rem
}

.w-lg {
  width: 17.5rem
}

.w-xl {
  width: 20rem
}

.w-xxl {
  width: 22.5rem
}

.w-full {
  width: 100%
}

.w-auto {
  width: auto
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.img-full {
  width: 100%
}

.img-full img {
  width: 100%
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.bg-white {
  color: #58666e;
  background-color: #fff;
}

.text-muted {
  color: #98a6ad;
}

.text-xs {
  font-size: .75rem;
}

.mask-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  vertical-align: middle;
  text-align: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4);
}

.mask-msg {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  vertical-align: middle;
  border-radius: 1.25rem;
  color: #fff;
  font-size: 1.25rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
