.home-img {
  height: calc(100vh - 3.125rem);
  width: 100%;
  object-fit: cover;
  position: relative;
}

.home-mask {
  margin-top: 3.125rem;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 3.125rem);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.home-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  font-size: 3rem;
}

.home-content-title {
  font-size: 1rem;
}

