.one-forward {
  font-size: 1rem;
}

.one-day {
  font-size: 3rem;
  line-height: 3rem;
  display: block;
}

.one-date {
  font-size: .875rem;
  line-height: .875rem;
  display: block;
}

.one-line {
  width: 30%;
  margin: .9375rem auto;
  border-bottom: .0625rem solid #eee;
}

.one-footer {
  position: fixed;
  width: 100%;
  height: 3rem;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0rem .125rem .25rem rgba(0, 0, 0, 0.5);
}

.one-footer>div {
  width: 50%;
  text-align: center;
  float: left;
  line-height: 3rem;
}
